/*Body*/

body {
    background: black;
    color: white;
    margin: 0px;
    padding: 10px;
    text-align: left;
    font-family: Arial;
    font-size: 50px;
}


/*Headings*/

h2 {
    font-weight: 400;
}